
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body
{
	font-family: "Lato", sans-serif;
}
.sidenav
{
	background: rgba(64, 161, 142, 0.713);
	position: fixed;
	height: 100%;
	width: 23%;
	top: 0;
	left: 0;
	line-height: 40px;
	overflow-x: hidden;
	padding-top: 20px;
}
.sidenav a
{
	color: #fff;
	margin: 20px 15px 10px 35px;
	text-decoration: none;
	font-size: 25px;
	display: block;
}
.sidenav a:hover
{
	background:rgba(64, 161, 142, 0.713);
}

.main
{	
	margin-top: 20px;
	background:rgba(115, 185, 101, 0.713);
	margin-left: 28%;
	padding: 4px 10px;
	color: #fff;
	display: inline-block;
}


@media screen and (max-width: 600px)
{
	.sidenav
	{
		padding-top: 15px;
		width: 155px;

	}
	.sidenav a
	{
		padding-left: 20px;
		font-size: 18px;
	}
	.main
	{
		margin-left: 32%;
		font-size: 15px;
	}
	p
	{
		display: inline-block;
	}
}